{% extends 'base.html.twig' %}

{% block title %}Boutique {{ parent() }}{% endblock %}

{% block body %}
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Ajouter un produit</h2>
      {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.thumbnailFile) }}
        <button class="inline-flex items-center px-5 py-2.5 mt-2 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">Ajouter</button>
      {{ form_end(form) }}
    </div>
  </section>
{% endblock %}